body{
    margin: 0;
    padding: 0;
    font-family: "Russo one" ;
    background-color: #7AB2D3;
}
header{
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #4A628A;
}
nav{
    display: flex;
    gap: 216px;
}
.menu_link{
    background-color: #D9D9D9;
    padding: 8px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_link img{
    width: 30px;
    height: 30px;
}
.banner{
    height: 90vh;
    width: 100%;
    background-image: url(img/фон.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product{
    background-color: white;
    border-radius: 15px;
    width: 224px; height: 334px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.catalog{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    gap: 15vh;
}
.catalog2{
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 15vh;
}
.buy{
    font-family: "Russo One";
    text-decoration: none;
    background: #5F80E3;
    padding: 3px;
    border-radius: 17px;
    color: white;
}

.product img{
    width: 100%;
}
.price{
    font-family: "Russo One";
}
form{
    width: fit-content;
    background-color: #5F80E3;
    padding: 10px;
    border-radius: 15px;
    font-family: "Russo One";
    display: flex;
    align-items: center;
}

.dn{
    display: none;
}
.form_input{
    font-family: "Russo One";
    padding: 10px 30px;
    border-radius: 6px 0 0 6px;
    border: 2px solid #4A628A;
}
.form_btn{
    font-family: "Russo One";
    padding: 10px 30px;
    border-radius: 0 6px 6px 0;

}

.form_btn:hover{
    
}
h1{
    color: wheat;
    padding: 10px 30px;
    background-color: rgb(95, 128, 227, 0.5);
    
}
